<!DOCTYPE html>
<html>
  <head>
    <title>Finomofo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Finomofo</h1>
    <h2>When lockdown turn to 2.0</h2>
    <hr>
    <%= yield %>
  </body>
</html>
